.header {
  display: flex;
  column-gap: 20px;
  background-color: #030344;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header .header__main {
  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
  padding: 10px;
  align-self: flex-end;
  margin: 10px 40px 10px 0px;
}

.header .header__left {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.header h3 {
  border: none;
  text-align: center;
  margin: 10px 0 10px 40px;
  color: lightblue;
}

.header__main a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
  text-shadow: 1px 1px 1px rgb(3, 3, 68, 0.3);
  padding: 5px 0;
}

.header__main a:hover {
  text-decoration: underline;
  opacity: 1;
  color: lightblue;
}

.header__main button {
  padding: 5px 20px;
  color: #030344;
  border: none;
  background-color: lightblue;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }

  .header .header__main {
    justify-content: center;
    align-self: center;
    margin: auto;
  }

  .header .header__left h3 {
    text-align: center;
    margin: 10px auto;
  }
}

@media (max-width: 400px) {
  .header .header__main {
    font-size: 15px;
    margin: 0;
  }
}
