.localImage__middle.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 20px;
  color: black;
}

.localImage__middle.form label {
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: #bc009e;
  font-weight: 800;
  cursor: pointer;
  margin-right: 20px;
}

.localImage__middle.form label input {
  display: none;
}

.localImage__middle.form .btn button {
  padding: 10px 40px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: black;
  border: none;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}

.localImage__middle.form .btn button:hover {
  background-color: darkmagenta;
  border: 3px solid black;
}

button:focus {
  outline: none;
}

@media (max-width: 700px) {
  .localImage__middle.form label {
    width: 100%;
    text-align: center;
  }

  .localImage__middle.form .btn button {
    width: 50%;
  }
}
