.meme {
  display: flex;
  column-gap: 20px;
  min-height: 80vh;
  width: 100%;
  justify-content: space-between;
}

.meme__left {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
  width: 20%;
  align-self: center;
}

.meme__left button {
  padding: 10px 30px;
  font-size: 15px;
  background-color: #030344;
  border: none;
  color: lightblue;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 3px #03034480;
}

.meme__left button:hover {
  background-color: rgb(50, 0, 130);
  color: white;
}

.meme__left button:focus,
.meme__left button:active {
  outline: none;
}

.meme__left button:active {
  box-shadow: none;
  position: relative;
  top: 3px;
}

.meme__main {
  align-self: center;
}

.meme__main svg {
  width: 500px;
  height: 500px;
  background-color: azure;
  margin: 30px;
  padding: 1em;
}

.meme__right {
  background-color: rgba(20, 20, 20, 0.651);
  color: white;
  width: 25%;
  margin: 20px 10px;
  box-shadow: 2px 2px 2px rgba(4, 7, 39, 0.651);
}

.meme__right-input {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.meme__right-input input {
  padding: 10px;
  margin: 5px 0;
}

.meme__right-input .inputs {
  display: flex;
  flex-direction: column;
}

.meme__right-input button {
  padding: 10px;
  background-color: lightblue;
  border-radius: 10px;
  border: none;
}

.meme__right-colors {
  text-align: center;
}

.meme__right-colors ul {
  padding: 0;
}

.meme__right-colors ul li {
  list-style: none;
  position: relative;
  margin: 5px 0;
  padding: 5px 0;
  cursor: pointer;
}

.meme__right-colors ul li::before {
  content: "";
  width: 30px;
  height: 10px;
  background-color: lightgreen;
  position: absolute;
  left: 50px;
}

.meme__right-colors ul .black::before {
  background-color: black;
}

.meme__right-colors ul .red::before {
  background-color: red;
}

.meme__right-colors ul .yellow::before {
  background-color: yellow;
}

.meme__right-colors ul .blue::before {
  background-color: blue;
}

.meme__right-colors ul .white::before {
  background-color: white;
}

.meme__right-colors ul .green::before {
  background-color: green;
}

.meme__right-style {
  padding: 10px;
  background-color: lightskyblue;
  margin: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  font-size: 22px;
}

.meme__right-style i {
  cursor: pointer;
}

.meme__right-family,
.meme__right-font-size {
  padding: 10px;
  margin: 10px;
  background-color: lightskyblue;
  border-radius: 3px;
  text-align: center;
}

select {
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 720px) {
  .meme {
    flex-direction: column;
    justify-content: center;
  }

  .meme__main svg {
    width: 300px;
    height: 300px;
  }

  .meme__left {
    width: 80%;
  }

  .meme__right {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 300px) {
  .meme__main svg {
    width: 250px;
    height: 250px;
  }
}
