.newImage.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.newImage.form input {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

::placeholder {
  color: black;
  opacity: 0.9;
}

.newImage.form .btn button {
  padding: 10px 40px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: black;
  border: none;
  border-radius: 20px;
  transition: all 0.1s ease-out;
}

.newImage.form .btn button:hover {
  background-color: darkmagenta;
  border: 3px solid black;
}

.newImage.form input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

@media (max-width: 700px) {
  .newImage.form .btn button {
    width: 50%;
  }

  ::placeholder {
    text-align: center;
  }
}
